.main {
  background-image: url("src/assets/images/M5.jpg") !important;
  background-repeat: repeat;
  background-color: #ffffff;
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
}

.main2 {
  backdrop-filter: blur(50px);
}


