.main {
  background-image: url("src/assets/images/yellowcorner.svg") !important;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
}
