.main {
  background-image: url("src/assets/images/M1.jpg") !important;
  background-repeat: repeat;
  background-color: #d5dbe3;
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
  min-height: 100vh;
  min-width: 100vw;
}

.main2 {
  backdrop-filter: blur(50px);
  min-width: 100vw;
  min-height: 100vh;
}


