<div class="main"*ngIf="user">
  <div class="main2">
    <app-header [user]="user"></app-header>
    <div class="row">
      <div class="col">
        <app-create-activity [user]="user"></app-create-activity>
      </div>
      <div class="col-6">
        <app-activity-cards [user]="user"></app-activity-cards>
      </div>
      <div class="col">
        <app-calendar></app-calendar>
        <app-upcoming-activities [user]="user"></app-upcoming-activities>
      </div>
    </div>
  </div>
</div>
