<div class="main"*ngIf="user">
  <div class="main2">
    <app-header [user]="user"></app-header>
    <div class="row">
      <div class="col">
        <div class="glassbox glassbox m-4 mt-5 p-4">
          <app-create-activity [user]="user"></app-create-activity>
          <app-current-activities [user]="user"></app-current-activities></div>
      </div>
      <div class="col-6">
        <app-activity-cards [user]="user"></app-activity-cards>
      </div>
      <div class="col">
        <app-calendar [user]="user"></app-calendar>
        <app-upcoming-activities [user]="user"></app-upcoming-activities>
      </div>
    </div>
  </div>
</div>
