h4{
  cursor: pointer;
}

#default-picker{
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.matpicker{
background-color: white;
}

input{
  width: 100%;
}

.default-input{
  background-color: rgba(0,0,0,0);
  border: none;
  border-color: #686b6e !important;
  border-bottom: 1px solid;
  border-radius: 0;
}

.btn-glass{
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-glass:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.invalid-input{
  border-bottom:1px solid #ff5e5e !important;
}

.error{
  color: #ff5e5e;
}
