<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{activity.activitytype}}
      </mat-panel-title>
      <mat-panel-description class="right-aligned">
        <i class="far fa-calendar-alt mr-2 mt-1"></i>
        <div> {{activity.activitydate[0]}}-<span
          *ngIf="activity.activitydate[1]<10">0</span>{{activity.activitydate[1]}}-<span
          *ngIf="activity.activitydate[2]<10">0</span>{{activity.activitydate[2]}}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="text-right glass-cloud">
      <i class="far fa-clock ml-2 mr-2 mt-1"></i> {{activity.activitydate[3]}}:<span
      *ngIf="activity.activitydate[4]<10">0</span>{{activity.activitydate[4]}}
      <div><i class="fas fa-map-marker-alt mr-2"></i> {{activity.locationname}} - {{activity.locationaddress}}</div>
    </div>
    <div class="glass-cloud mt-1">
      <div class="mt-2 mb-2">{{activity.descriptionsocu}}</div>
    </div>
    <div class="mt-2 text-center">
      <div class="font-weight-bold" *ngIf="activity.cancelled">Den här aktiviteten är inställd.</div>
      <div *ngIf="isAttended && !activity.cancelled">Du har tackat ja till detta event.</div>
      <div *ngIf="!isAttended">
        <button type="button" class="mt-2 btn btn-light float-right" (click)="attendActivity()">Tacka ja</button>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
