<div class="glassbox m-4 mt-5 p-4">
  <h4 class="mb-5">Kommande aktiviteter</h4>
  <div *ngIf="activities">
    <div *ngIf="!activities.length">
      Inga aktiviteter just nu.
    </div>
  </div>
  <div class="mb-4 m-3 mt-5 pt-2 upcomingbox" *ngFor="let activity of activities">
    <div [ngClass]="{'cancelled' : activity.cancelled}">
      <div class="row">
        <div class="col">
          <h5>{{activity.activitytype}}<span *ngIf="activity.cancelled"> - INSTÄLLT</span></h5>
        </div>
        <div class="col">
          <h5 class="text-right"><i class="far fa-calendar-alt"></i> {{activity.activitydate[0]}}-<span
            *ngIf="activity.activitydate[1]<10">0</span>{{activity.activitydate[1]}}-<span
            *ngIf="activity.activitydate[2]<10">0</span>{{activity.activitydate[2]}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>{{activity.locationname}} - {{activity.locationaddress}}</h6>
        </div>
        <div class="col">
          <h6 class="text-right"><i class="far fa-clock"></i> {{activity.activitydate[3]}}:<span
            *ngIf="activity.activitydate[4]<10">0</span>{{activity.activitydate[4]}}</h6>
        </div>
      </div>
      <div class="card-text">{{activity.descriptionsocu}}</div>
    </div>
  </div>
</div>
