<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">After Work</h5>
      </div>
      <div class="col">
        <h5 class="card-title">Fredag den trettonde</h5>
      </div>
      <div class="col">
        <h5 class="card-title">Plats: Java Bar</h5>
      </div>
    </div>
    <p class="card-text">Beskrivning</p>
    <p>Senaste OSA-datum: </p>
  </div>
</div>
<div class="float-right">
  <button type="button" class="accept choicebutton"><i class="fas fa-check"></i></button>
  <button type="button" class="refuse choicebutton"><i class="fas fa-times"></i></button>
</div>
