<div class="m-5" *ngFor="let activity of activities">
  <div class="row">
    <div class="col">
      <img class="ml-3" [src]="getProfilePicture(activity.createdBy.id)" alt="Skapad av {{activity.createdBy.name}}"
           [matTooltip]="activity.createdBy.name">
    </div>
    <div class="col text-right mr-2">
    <span *ngFor="let attendee of activity.attendees">
      <img [src]="getProfilePicture(attendee.id)" alt="{{attendee.name}}" [matTooltip]="attendee.name">
    </span>
    </div>
  </div>
  <div class="card" [ngClass]="{'attendingcard' : isUserAttending(user.id, activity.id)}">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5>{{activity.activitytype}}</h5>
        </div>
        <div class="col">
          <h5 class="text-right"><i class="far fa-calendar-alt"></i> {{activity.activitydate[0]}}-<span
            *ngIf="activity.activitydate[1]<10">0</span>{{activity.activitydate[1]}}-<span
            *ngIf="activity.activitydate[2]<10">0</span>{{activity.activitydate[2]}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>{{activity.locationname}} - {{activity.locationaddress}}</h6>
        </div>
        <div class="col">
          <h6 class="text-right"><i class="far fa-clock"></i> {{activity.activitydate[3]}}:<span
            *ngIf="activity.activitydate[4]<10">0</span>{{activity.activitydate[4]}}</h6>
        </div>
      </div>
      <div class="card-text mt-4 mb-4">{{activity.descriptionsocu}}</div>
      <div class="text-right rsvp" *ngIf="activity.rsvpdate">Senaste OSA-datum: {{activity.rsvpdate[0]}}
        -{{activity.rsvpdate[1]}}-{{activity.rsvpdate[2]}}</div>
    </div>
  </div>
  <div class="float-right">
    <button [attr.disabled]="isAttendButtonDisabled(activity)? true : null"
            [ngClass]="{'choiceMade' : isAttendButtonDisabled(activity)}" type="button" class="accept choicebutton"
            (click)="attendEvent(activity.id)"><i class="fas fa-check"></i>
    </button>
    <button *ngIf="activity.createdbyid==user.id" type="button" class="choicebutton edit"
            [ngClass]="{'attendingcard' : isUserAttending(user.id, activity.id)}"><i class="fas fa-pen"></i></button>
    <button [attr.disabled]="isDeclineButtonDisabled(activity)? true : null"
      [ngClass]="{'attendingcard' : isUserAttending(user.id, activity.id), 'choiceMade' : isDeclineButtonDisabled(activity)}"
      type="button" class="decline choicebutton" (click)="declineEvent(activity)"><i class="fas fa-times"></i>
    </button>
  </div>
</div>
