<div class="m-5">
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">After Work</h5>
      </div>
      <div class="col">
        <h5 class="card-title">Fredag den trettonde</h5>
      </div>
      <div class="col">
        <h5 class="card-title">Plats: Java Bar</h5>
      </div>
    </div>
    <p class="card-text">Beskrivning
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    <p>Senaste OSA-datum: </p>
  </div>
</div>
<div class="float-right">
  <button type="button" class="accept choicebutton"><i class="fas fa-check"></i></button>
  <button type="button" class="refuse choicebutton"><i class="fas fa-times"></i></button>
</div>
</div>
