.card {
  border-radius: 20px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}

.cardsocu {
  margin-top: 100px !important;
}

.choicebutton {
  margin: 4px 2px 2px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-style: none;
  outline: none;
  color: rgba(104, 107, 110, 0.9);
}



.accept {
  border-bottom-left-radius: 15px;
}

.accept:hover {
  color: green;
  background-color: #f5f7f5;
}

.edit:hover {
  color: #1f8fff;
}

.decline {
  margin-right: 0;
  border-bottom-right-radius: 15px;
}

.decline:hover {
  color: red;
  background-color: #f7f5f5;
}

.rsvp {
  font-size: 15px;
}

img {
  margin-bottom: 3px;
  object-fit: cover;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.accepted {
  background-color: rgba(33, 221, 255, 0.4) !important;
  color: rgba(0, 125, 148, 0.4) !important;
}

.accepted:hover {
  background-color: rgba(33, 221, 255, 0.4) !important;
  color: rgba(0, 125, 148, 0.4) !important;
}

.declined {
  background-color: rgba(181, 5, 5, 0.4) !important;
  color: rgba(122, 24, 2, 0.4) !important;
}

.declined:hover {
  background-color: rgba(181, 5, 5, 0.4) !important;
  color: rgba(122, 24, 2, 0.4) !important;
}

.cancelled {
  background: rgba(240, 182, 177, 0.5) !important;
  color: grey !important;
}

.cancelled:hover {
  background: rgba(240, 182, 177, 0.5) !important;
  color: grey !important;
}

.disabled {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(104, 107, 110, 0.3);
}
.disabled:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(104, 107, 110, 0.3);
}

body{
}

