.card {
  border-bottom-right-radius: 0;
}

.choicebutton {
  width: 50px;
  border-width: 1px;
  border-color: #d1d1d1;
  background: transparent;
  border-style: solid;
  border-top-width: 0;
  outline: none;
}

.choicebutton:hover {
  background-color: #f7f7f7;
}

.accept {
  color: green;
  border-bottom-left-radius: 15px;
}

.refuse {
  color: red;
  border-left-width: 0;
  border-bottom-right-radius: 15px;

}

.rsvp {
  font-size: 15px;
}
