body, html {
  height: 100%;
}

.socialcubelogin {
  font-size: 55px;
  color: white;
}

.loginblock {
  height: 600px;
  width: 450px;
  text-align: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.logingroup {
  margin-top: 130px;
}

.loginitem {
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid white;
  height: 45px;
  width: 360px;
  color: white;
  text-align: left;
}

.noAccount {
  color: white;
}

input {
  outline: none;
}

.noAccountPage {
  background-color: white;
  padding: 20px;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
  border-radius: 15px;
}

::placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

input.empty {
  font-family: FontAwesome, Roboto;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

img {
  object-fit: cover;
  height: 100vh !important;
  width: 100vw !important;
  opacity: 90%;
}

input:focus::placeholder {
  color: transparent;
}

.invalid-input {
  border-bottom: 1px solid #ff5e5e;
}

#errorholder {
  color: rgba(255, 255, 255, 0);
}

.errormessage {
  color: #ff5e5e;
}
