body, html {
  height: 100%;
}

.socialcubelogin {
  font-size: 55px;
  color: white;
}

.loginblock {
  height: 600px;
  width: 450px;
  text-align: center;
  /*border-width: 1px;*/
  /*border-color: #f7f7f7;*/
  /*border-style: solid;*/
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
  /*background: rgba(227, 227, 000, 0.7);*/
}

.logingroup {
  margin-top: 170px;
}

.loginitem {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid white;
  height: 45px;
  width: 360px;
  color: white;
  /*border-width: 1px;*/
  /*border-radius: 15px;*/
  text-align: left;
}

.noAccount {
  color: white;
}

input {
  outline: none;
}

.noAccountPage {
  background-color: white;
  padding: 20px;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
  border-radius: 15px;
}

::placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

input.empty {
  font-family: FontAwesome, Roboto;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

img {
  object-fit: cover;
  height: 100vh !important;
  width: 100vw !important;
  opacity: 90%;
}

input:focus::placeholder {
  color: transparent;
}
/*.yellowbtn{*/
/*  background-color: rgba(231, 245, 34, 1);*/
/*}*/
