<div class="loginblock">
  <div class="socialcubelogin socialcube m-5">
    Socialcube
  </div>
  <div class="logingroup">
    <div>
      <input type="text" class="p-1 m-3 loginitem" id="emailinput" placeholder="Mailadress">
    </div>
    <div>
      <input type="text" class="p-1 m-3 loginitem" id="passwordinput" placeholder="Lösenord">
    </div>
    <button class="btn btn-light m-2">Logga in</button>
  </div>
  <div class="">
    <button class="btn btn-link noAccount"> Jag har inget konto!</button>
  </div>
</div>

