<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand socialcube" href="#">SocialCube</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="mr-3 mt-2">
        {{user.name}}
      </li>
      <li class="mr-3 mt-1">
        <img [src]="profilepictureurl">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Meny
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/profile']">Profil</a>
          <a *ngIf="isAdmin" class="dropdown-item" [routerLink]="['/admin']">Hantera användare</a>
          <a class="dropdown-item" (click)="logout()">Logga ut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
