<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Redigera aktivitet</h4>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="activitytype" class="m-1">Aktivitetstyp</label>
        </div>
        <div class="col">
          <input type="text" class="m-1" formControlName="activitytype" id="activitytype">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class="m-1">Datum för aktivitet</label>
        </div>
        <div class="col">
          <input type="number" class="dateinput m-1" formControlName="activitydateyear" id="activitydateyear"> -
          <input type="number" class="dateinput m-1" formControlName="activitydatemonth" id="activitydatemonth"> -
          <input type="number" class="dateinput m-1" formControlName="activitydatedate" id="activitydatedate">
        <div class="errormessage">{{this.errorMessageActivityDate}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="activitytimehour" class="m-1">Tid för aktivitet</label>
        </div>
        <div class="col">
          <input type="number" class="dateinput m-1" formControlName="activitytimehour" id="activitytimehour"> :
          <input type="number" class="dateinput m-1" formControlName="activitytimeminute" id="activitytimeminute">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="rsvpdateyear" class="m-1">Datum O.S.A senast</label>
        </div>
        <div class="col">
          <input type="number" class="dateinput m-1" formControlName="rsvpdateyear" id="rsvpdateyear"> -
          <input type="number" class="dateinput m-1" formControlName="rsvpdatemonth" id="rsvpdatemonth"> -
          <input type="number" class="dateinput m-1" formControlName="rsvpdatedate" id="rsvpdatedate">
        <div class="errormessage">{{errorMessageRSVPDate}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="descriptionsocu" class="m-1">Beskrivning</label>
        </div>
        <div class="col">
          <textarea type="text" class="m-1" formControlName="descriptionsocu" id="descriptionsocu"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="locationname" class="m-1">Plats</label>
        </div>
        <div class="col">
          <input type="text" class="m-1" formControlName="locationname" id="locationname">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="locationaddress" class="m-1"></label>
        </div>
        <div class="col">
          <input type="text" class="m-1" formControlName="locationaddress" id="locationaddress">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="onSave()">Spara</button>
  <button type="button" class="btn btn-light" (click)="cancelActivity(activity)">Ställ in</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Save click')">Avbryt</button>
</div>

