<app-header></app-header>
<h3 class="d-flex justify-content-center m-5">Profil</h3>
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center m-3">
      <img [src]="url2" height="200"> <br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <input type='file' accept="image/*"
               (change)="onSelectFile($event)" id="fileupload">
        <button class="btn btn-light minw-100 m-4"(click)="triggerFileUpload()">Byt Bild</button>
        <button class="btn btn-light minw-100 m-4">Ta bort bild</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mt-3">
        <input type="text" class="form-control" placeholder="Barbro Börjesson">
        <input type="text" class="form-control mt-3" placeholder="barbro.borjesson@company.com">
        <input type="text" class="form-control mt-3" placeholder="IT-avdelningen">
        <label for="changePassword" id="label" class="ml-1 mt-5">Byt lösenord</label>
        <input type="text" class="form-control mt-3" placeholder="Gammalt lösenord" id="changePassword">
        <input type="text" class="form-control mt-3" placeholder="Nytt lösenord">
        <input type="text" class="form-control mt-3" placeholder="Upprepa lösenord">
        <div class="d-flex justify-content-center">
          <button type="button" class="minw-100 btn btn-light m-5">Spara</button>
        </div>
      </div>
    </div>
  </div>
</div>
