<div class="background">
  <div class="backgroundblur">
    <app-header></app-header>
    <h3 class="d-flex justify-content-center m-5">Profil</h3>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center m-3">
          <img [src]="url2" height="200"> <br/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center">
            <input type='file' accept="image/*"
                   (change)="onSelectFile($event)" id="fileupload">
            <button class="btn btn-light minw-100 m-4" (click)="triggerFileUpload()">Byt Bild</button>
                    <button class="btn btn-light minw-100 m-4" (click)="removeProfilePicture()">Ta bort bild</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <form *ngIf="infoform" (ngSubmit)="onSubmitInfoform()" [formGroup]="infoform" novalidate>
            <div class="form-group mt-3">
              <input formControlName="name" autocomplete="off" type="text" class="form-control">
              <input formControlName="email" autocomplete="off" type="email" class="form-control mt-3">
              <input formControlName="department" autocomplete="off" type="text" class="form-control mt-3"
                     placeholder="Avdelning">
              <div class="d-flex justify-content-center">
                <button type="submit" class="minw-100 btn btn-light m-5">Spara</button>
              </div>
            </div>
          </form>

          <form *ngIf="passform" (ngSubmit)="onSubmitPassform()" [formGroup]="passform" novalidate>
            <div class="form-group mt-3">
              <input
                [ngClass]="{'invalid-input': this.passform.get('oldpassword').invalid && this.isPassSaveButtonClicked || this.isOldPasswordWrong}"
                formControlName="oldpassword" autocomplete="off" type="password" class="form-control mt-3"
                placeholder="Gammalt lösenord" id="changePassword">
              <div *ngIf="isOldPasswordWrong">
                Felaktigt lösenord.
              </div>
              <input
                [ngClass]="{'invalid-input': this.passform.get('newpassword').invalid && this.isPassSaveButtonClicked}"
                formControlName="newpassword" autocomplete="off" type="password" class="form-control mt-3"
                placeholder="Nytt lösenord">
              <input
                [ngClass]="{'invalid-input': this.passform.get('newpasswordrepeat').invalid && this.isPassSaveButtonClicked || this.isPasswordsNotMatching}"
                formControlName="newpasswordrepeat" autocomplete="off" type="password" class="form-control mt-3"
                placeholder="Upprepa lösenord">
              <div *ngIf="isPasswordsNotMatching">
                Lösenordet matchar inte.
              </div>
              <div *ngIf="response?.status=='OK'"
                   class="d-flex justify-content-center mt-3 successgreen">{{this.response?.message}}</div>
              <div *ngIf="!(response?.status=='OK')"
                   class="d-flex justify-content-center mt-3 errorred">{{this.response?.message}}</div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="minw-100 btn btn-light m-4">Ändra lösenord</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
