<div class="background" *ngIf="user">
  <div class="backgroundblur">
    <app-header [user]="user"></app-header>
    <h3 class="d-flex justify-content-center m-5">Profil</h3>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center m-3">
          <img [src]="url2" height="200"> <br/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center text-center">
            <div class="errorred" *ngIf="profilepicErrorMessage">
              {{profilepicErrorMessage}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center">
            <input type='file' accept="image/*"
                   (change)="onSelectFile($event)" id="fileupload">
            <button class="btn btn-light minw-100 m-4" (click)="triggerFileUpload()">Byt Bild</button>
            <button class="btn btn-light minw-100 m-4" (click)="removeProfilePicture()">Ta bort bild</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <form *ngIf="infoform" (ngSubmit)="onSubmitInfoform()" [formGroup]="infoform" novalidate>
            <div class="form-group mt-3">
              <input formControlName="name" autocomplete="off" type="text" class="form-control">
              <input formControlName="email" autocomplete="off" type="email" class="form-control mt-3">
              <input formControlName="department" autocomplete="off" type="text" class="form-control mt-3"
                     placeholder="Avdelning">
              <div class="d-flex justify-content-center">
                <button type="submit" class="minw-100 btn btn-light m-5">Spara</button>
              </div>
            </div>
          </form>

          <form *ngIf="passform" (ngSubmit)="onSubmitPassform()" [formGroup]="passform" novalidate>
            <div class="form-group mt-3">
              <div class="input-group">
                <input
                  [ngClass]="{'invalid-input': this.passform.get('oldpassword').invalid && this.isPassSaveButtonClicked || this.isOldPasswordWrong}"
                  formControlName="oldpassword" autocomplete="off" [type]="fieldTextType1 ? 'text' : 'password'"
                  class="form-control mt-3"
                  placeholder="Gammalt lösenord" id="changePassword">
                <span class="input-group-append mt-3">
                   <span class="input-group-text">
                     <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType1, 'fa-eye': fieldTextType1}" (click)="toggleFieldTextType(1)"></i>
                  </span>
                </span>
              </div>
              <div *ngIf="isOldPasswordWrong">
                Felaktigt lösenord.
              </div>
              <div class="input-group">
                <input
                  [ngClass]="{'invalid-input': this.passform.get('newpassword').invalid && this.isPassSaveButtonClicked}"
                  formControlName="newpassword" autocomplete="off" [type]="fieldTextType2 ? 'text' : 'password'" class="form-control mt-3"
                  placeholder="Nytt lösenord">
                <span class="input-group-append mt-3">
                   <span class="input-group-text">
                     <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType2, 'fa-eye': fieldTextType2}" (click)="toggleFieldTextType(2)"></i>
                  </span>
                </span>
              </div>
              <div class="input-group">
                <input
                  [ngClass]="{'invalid-input': this.passform.get('newpasswordrepeat').invalid && this.isPassSaveButtonClicked || this.isPasswordsNotMatching}"
                  formControlName="newpasswordrepeat" autocomplete="off" [type]="fieldTextType3 ? 'text' : 'password'" class="form-control mt-3"
                  placeholder="Upprepa lösenord">
                <span class="input-group-append mt-3">
                   <span class="input-group-text">
                     <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType3, 'fa-eye': fieldTextType3}" (click)="toggleFieldTextType(3)"></i>
                  </span>
                </span>
              </div>
              <div *ngIf="isPasswordsNotMatching">
                Lösenordet matchar inte.
              </div>
              <div *ngIf="response?.status=='OK'"
                   class="d-flex justify-content-center mt-3 successgreen">{{this.response?.message}}</div>
              <div *ngIf="!(response?.status=='OK')"
                   class="d-flex justify-content-center mt-3 errorred">{{this.response?.message}}</div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="minw-100 btn btn-light m-4">Ändra lösenord</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
