.container {
  width: 700px;
  border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd;
  border-radius: 20px;
  padding: 70px;
  background-color: white;
}

input[type=file] {
  display: none;
}

img {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.invalid-input {
  border: 1px solid #ff5e5e;
}

.successgreen {
  color: #2dcf00;
}

.errorred {
  color: #ff5e5e;
}

.background {
  background-image: url("src/assets/images/M5.jpg") !important;
  background-repeat: repeat;
  background-color: #ffffff;
}

.backgroundblur {
  backdrop-filter: blur(50px);
}

.input-group-append {
  height: 38px;
}

i {
  width: 20px;
}
