<h4 class="mt-5" (click)="showCurrentActivities = !showCurrentActivities">Se nuvarande aktiviteter <i
  *ngIf="!showCurrentActivities" class="fas fa-angle-right"></i><i *ngIf="showCurrentActivities"
                                                                   class="fas fa-angle-down"></i></h4>
<div *ngIf="showCurrentActivities">
  <div class="m-3">Här hittar du samtliga skapade aktiviteter som ännu ej varit. Har du tackat nej till event kan du om du ångrar dig därför tacka ja till en aktivitet här.</div>
  <div class="m-1" *ngFor="let activity of currentActivities">
    <app-current-activity [activity]="activity"></app-current-activity>
  </div>
  <div *ngIf="!currentActivities">
    Här kommer roliga aktiviteter att visas!
  </div>
</div>

