<app-header></app-header>
<h3 class="d-flex justify-content-center m-5">Hantera användare</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
        <div class="form-group mt-3">
          <h5 class="mb-4">Lägg till användare</h5>
          <input formControlName="name" type="text" class="form-control mt-3" placeholder="Namn">
          <input formControlName="email" type="text" class="form-control mt-3" placeholder="Mailadress">
          <input formControlName="department" type="text" class="form-control mt-3" placeholder="Avdelning">
          <input formControlName="employeenumber" type="text" class="form-control mt-3" placeholder="Anställningsnummer">
          <div class="d-flex justify-content-center">
            <div>Lösenord</div>
            <button type="submit" class="minw-100 btn btn-light m-4">Lägg till användare och generera lösenord</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h5 class="mb-4 mt-4">Hantera användare</h5>
  <app-user-list></app-user-list>
</div>
