.container {
  width: 1000px;
  border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd;
  border-radius: 20px;
  padding: 70px;
  background-color: white;
}

.invalid-input {
  border: 1px solid #ff5e5e;
}

.background{
  background-image: url("src/assets/images/M1.jpg") !important;
  background-repeat: repeat;
  background-color: #ffffff;
}

.backgroundblur{
  backdrop-filter: blur(50px);
}

.errormessage{
  color: red;
}
