<table class="table">
  <thead>
  <tr>
    <th scope="col">Namn</th>
    <th scope="col">Emailadress</th>
    <th scope="col">Avdelning</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    <td>{{user.department}}</td>
    <td>
      <button type="button" class="btn buttonsocu m-1"><i class="fas fa-pen"></i></button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><i class="fas fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>
